{% extends 'template.html' %}

{% block title %}Index{% endblock %}

{% block header %}
    <h1>Smart Flex Parking</h1>
    <button class="btn-lgn" onclick="location.href='login'">Iniciar Sesión</button>
{% endblock %}

{% block content %}
<div class="index-page">
    <h2>¿Qué es SFP?</h2>
    <p style="text-align: justify;">
        Smart Flex Parking (SFP) es un sistema automatizado de gestión 
        y control de estacionamiento que detecta y registra vehículos en 
        tiempo real mediante dispositivos inteligentes. Su tecnología 
        permite una experiencia eficiente y segura, optimizando el uso 
        de los espacios y facilitando el acceso a los usuarios.
    </p>
</div>
{% endblock %}