{% extends 'template.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block header %}
    <h1 onclick="location.href='/'" style="cursor: pointer;">Smart Flex Parking</h1>
{% endblock %}

{% block content %}
<div  class="sign-div">
    <h2>Ingrese sus datos</h2>
    <form action="personas/show" method="get">
        <div class="form-element">
            Matricula: <input type="text" name="matricula" id="matricula" placeholder="Matricula"> 
        </div>
        <div class="form-element">
            Contraseña: <input type="password" name="pswd" id="pswd" placeholder="Contraseña">
        </div>
    </form>
    <button>Iniciar Sesión</button>
</div>
{% endblock %}