{% extends 'template.html' %}

{% block title %}Registrarse{% endblock %}

{% block header %}
    <h1>Haga una cuenta aca</h1>
{% endblock %}

{% block content %}
<div  class="sign-div">
    <form action="get">
        <div class="form-element">
            Usuario:<input type="text" name="user" id="user" placeholder="Usuario">
        </div>
        <div class="form-element">
            Email: <input type="email" name="email" id="email" placeholder="Email@gmail.com"> 
        </div>
        <div class="form-element">
            Contraseña: <input type="password" name="pswd" id="pswd" placeholder="Contraseña">
        </div>
    </form>
    <button>Registrarse</button>
</div>
{% endblock %}